.flags_and_stats {
    display: flex;
    padding-top: 40px;
}

.back_button_color {
    background: hsl(209, 23%, 22%);
    color:#ffffff;
}

.country_name {
    color:#ffffff;
    font-size:40px;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    margin-right:300px;
}


.information_right {
    display: flex;
    flex-direction: column;
    height:90%;
}

.stats_div {
    color:#ffffff;
    display: flex;
}

.parent {
    margin-left: 5%;
    margin-right: 5%;
}

.top_stats {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.bottom_stats {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

@media (max-width: 250px) {
    .country_name {
        color:#ffffff;
        font-size:20px;
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;
        margin-top:20px;
        margin-bottom:20px;
    }
    
}

@media (max-width: 323px) {
    .back_button {
        padding-top: 200px;
    }
    .country_flag {
        margin-top:40px;
    }

    .country_name {
        color:#ffffff;
        font-size:30px;
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;
        margin-right:300px;
        margin-top:20px;
        margin-bottom:20px;
    }

}

@media (max-width: 767px) {
    .flags_and_stats{
        flex-direction: column;
        padding-top: 30px;
    }
    .information_right {
        margin-top: 20px;
    }
    .country_flag {
        margin-top: 50px;
        max-width: 100%;
        height:100%;
    }
    .country_name {
        color:#ffffff;
        font-size:40px;
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;
        margin-right:300px;
        margin-top:20px;
        margin-bottom:20px;
        width:100%;

    }
    .stats_div {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 30px;
        flex-wrap:wrap;
    }
    #borders{
        display:block;
    }
}
@media (min-width: 768px) {
    .flags_and_stats{
        flex-direction: row;
        column-gap: 30px;
    }
    .back_button{
        margin-bottom: 30px;
    } 
    .stats_div {
        flex-direction: row;
        column-gap: 50px;
        margin-bottom: 30px;
    }
    .country_flag {
        max-width: 100%;
        height:auto;
        width: auto\9;
    }

    .flag_left {
        transform: translateY(8%);

    }
    .country_name {
        color:#ffffff;
        font-size:40px;
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;
        margin-right:300px;
        margin-top:20px;
        margin-bottom:20px;
        width:100%;
    }

}

@media (min-width:1400px) {
    .information_right {
        margin-bottom: 150px;
    }

    .country_flag {
        max-width: 100%;
        height:500px;
        width: auto\9;
    }

    .country_name {
        color:#ffffff;
        font-size:40px;
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;
        margin-right:300px;
        margin-top:20px;
        margin-bottom:20px;
        width:100%;

    }

    .flag_left {
        transform: translateY(2%);
        
    }
}