.global {
    margin-right:5%;
    margin-left: 5%;
    z-index: 1;
}

.card_body {
    background: var(--lighter_dark_mode);
    z-index: 1;
}

.card_title {
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}

.card_stats {
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
}


.search_bar_and_filter {
    padding-top:100px;
}
.search_bar {
    padding-top:50px;
}

.region_filter {
    padding-top: 50px;
}

.error_msg {
    margin-left:80px;
    color:#ffffff;
    padding-top:150px;
}

.loading_msg {
    padding-top:150px;
    color:#ffffff;
}

.search_bar_color {
    background-color: var(--lighter_dark_mode);
    color:#ffffff;
}

.fal {
    color: white;
    z-index: 1;
    
}

.dropdown_li {
    background-color: var(--lighter_dark_mode);
    width:100%;
}

.dropdown_li:hover {
    cursor: pointer;
    
}